{% extends 'base.html.twig' %}

{% block title %}Votre panier - {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold mb-4">Votre panier</h1>

    <twig:Cart />
{% endblock %}
