{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-4xl mb-24 text-center">Bienvenue {{ app.user.email }}</h1>

    <div class="lg:grid grid-cols-12 gap-16">
        <div class="col-span-3 mb-10">
            <nav class="flex flex-col space-y-1">
                <a class="font-medium px-4 py-2 rounded-md hover:bg-blue-600 hover:text-white {{ route == 'account' ? 'bg-blue-600 text-white' }}" href="{{ path('account') }}">Mon compte</a>
                <a class="font-medium px-4 py-2 rounded-md hover:bg-blue-600 hover:text-white" href="#">Mes adresses</a>
                <a class="font-medium px-4 py-2 rounded-md hover:bg-blue-600 hover:text-white" href="#">Mes commandes</a>
                <a class="font-medium px-4 py-2 rounded-md hover:bg-blue-600 hover:text-white" href="{{ path('logout') }}">Déconnexion</a>
            </nav>
        </div>
        <div class="col-span-9">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
