{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-2xl mb-8 text-center">Bienvenue {{ app.user.email }}</h1>

    <div class="grid grid-cols-3">
        <div class="col-span-1">
            <nav class="flex flex-col space-y-4">
                <a href="{{ path('account') }}">Mon compte</a>
                <a href="#">Mes adresses</a>
                <a href="#">Mes commandes</a>
                <a href="{{ path('logout') }}">Déconnexion</a>
            </nav>
        </div>
        <div class="col-span-2">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
