<div{{ attributes.defaults({ class: 'flex items-center' }) }}>
    <twig:ux:icon name="cart" class="h-6 w-6 flex-shrink-0 text-gray-400 group-hover:text-gray-500" fill="none" />
    <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800">{{ quantity ?? cart.quantity }}</span>
</div>
